@tailwind base;
@tailwind components;
@tailwind utilities;

.react-tel-input .form-control {
  width: 100% !important;

  border: 1px solid #839f9f !important;
}
.country-name {
  color: black;
}

/* Always show delete button */
.profile-upload .ant-upload-list-item-actions {
  opacity: 1 !important;
  visibility: visible !important;
}

/* Prevent AntD hover logic */
.profile-upload .ant-upload-list-item:hover .ant-upload-list-item-actions {
  opacity: 1 !important;
}

.noText .ant-upload-list-text {
  width: 150px !important;
  text-align: start;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #075b5d, #075b5d);
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e8ebec;
}

::-moz-selection {
  /* Code for Firefox */
  color: #ffffff;
  background: #19363d;
}

::selection {
  color: #ffffff;
  background: #19363d;
}
